---
import Layout from '../layouts/Layout.astro';
import EpisodeCard from '../components/EpisodeCard.astro';
import { RSS_FEED_URL } from '../config';
import { parseRssFeed, addEpisodeNumbers } from '../utils/rss';
import ListenPlatforms from '../components/ListenPlatforms.astro';

const rawEpisodes = await parseRssFeed(RSS_FEED_URL);
const allEpisodes = addEpisodeNumbers(rawEpisodes);
---

<Layout title="Episoder - heis.fm" description="Se alle episoder av heis.fm-podcasten">
	<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-16">
		<h1 class="text-4xl md:text-5xl font-bold mb-4">Alle episoder</h1>
	

		<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
			{allEpisodes.map((episode) => (
				<EpisodeCard episode={episode} />
			))}
		</div>
	</div>
		<ListenPlatforms />
</Layout>
